.DS_Store
*~
tmp/

BIGMESS
DIRECT.SECTOR
GAME1
GAME2
NOMORE
SCREEN
WIND
WIND.BAS
WINDHAM

direct_sector_2

# for the moment
*.dsk
*.po
*.mov
Below the Root (4am crack).txt
*.vii
*.viisnapshot
*.report

!res/dos33.dsk
